h1 {
  margin-bottom: 2rem;
}

#nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  button {
    flex: 1;
    height: 6rem;
    margin: 10px;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 20px #039be5;
    }
  }
}
